<p>
<div class="row">
  <div class="col-md-10">
    <%= link_to "Bid Times", users_cc_path, class: 'btn btn-success' %>
  </div>
  <div class="col-md-2">
    <div class="right">
      <%= link_to "Bid Sheet", shifts_cc_path, class: 'btn btn-success' %>
    </div>
  </div>
</div>
<br>
<% if @user.errors.any? %>
  <div class="alert alert-danger">
    <h4><%= pluralize(@user.errors.count, "error") %>:</h4>
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<br>
<div class="center">
  <h4 style="display: inline">Bidder:  </h4><h2 style="display: inline; color:red"><%= @user.first_name %> <%= @user.last_name %></h2>
  <br>
  <h4 style="display: inline">Employee #:  </h4><h3 style="display: inline; color:red"><%= @user.employee_number %></h3>
  <br>
  <h4 style="display: inline">Phone #:  </h4><h3 style="display: inline; color:red"> (Phone number)</h3>
  <p>
  <%= form_for @user do |f| %>
    <%= f.number_field :shift_id, class: 'number_field', placeholder: "Enter Shift #" %>
    <p>
    <div class="form-group">
      <%= f.submit "Save", class: 'btn btn-success' %>
    </div>
  <% end %>
</div>
