<h2><u><%= link_to "Bid Times", users_path %></u> > Part-Time <%= link_to "Add Employee", new_user_path, class: 'btn btn-success' %></h2>
<br>
<style>
  table {
      border-collapse: collapse;
      width: 100%;
  }

  th, td {
      text-align: center;
      padding: 3px;
  }

  tr:nth-child(even){background-color: #f2f2f2}

  th {
      background-color: #4CAF50;
      color: white;
  }
</style>
<table>
  <tr>
    <th>Bid#</th>
    <th>Last Name</th>
    <th>First Name</th>
    <th>Empl.#</th>
    <th>Occ. User</th>
    <th>Qual.</th>
    <th>Bid Time</th>
    <th>Shift#</th>
  </tr>
  <% @employees.sort_by_user.each do |employee| %>
    <tr>
      <% if employee.employment_status == "PT" %>
        <td><%= employee.bid_number %></td>
        <td><%= employee.last_name %></td>
        <td><%= employee.first_name %></td>
        <td><%= employee.employee_number %></td>
        <td><%= employee.user.strftime("%m-%d-%Y") %></td>
        <% if employee.qualification || "select" %>
          <td><%= employee.qualification %></td>
        <% end %>
        <td><%#= employee.bid_time.strftime("%b %d %H:%M") %></td>
        <td><%= employee.shift %></td>
      <% end %>
    </tr>
  <% end %>
</table>
