<%= form_for @employee do |f| %>
    <p>
    <%= f.label :employment_status %>:
    <%= f.select :employment_status, ["CC", "FT", "PT"] %>
    <p>
    <%= f.text_field :first_name, class: 'form-control', placeholder: "First name" %>
    <p>
    <%= f.text_field :last_name, class: 'form-control', placeholder: "Last name" %>
    <p>
    <%= f.text_field :employee_number, class: 'form-control', placeholder: "Employee number" %>
    <p>
    <b>Occupational</b> <%= f.label :seniority %>:
    <%= f.date_field :seniority %>
    <p>
    <%= f.label :qualification %>:
    <%= f.select :qualification, ["select", "Exp"] %>

  <div class="form-group">
    <%= f.submit "Save", class: 'btn btn-success' %>
  </div>
<% end %>
