<p>
<div class="row">
  <div class="col-md-6">
    <%= link_to "Crew Chiefs", seniorities_cc_path, class: 'btn btn-success' %>  <%= link_to "Full-Time", seniorities_ft_path, class: 'btn btn-success' %>  <%= link_to "Part-Time", seniorities_pt_path, class: 'btn btn-success' %>
  </div>
</div>
<p>
<u><h2>Part-Time</h2></u>
<br>
<style>
  table {
      border-collapse: collapse;
      width: 70%;
  }

  th, td {
      text-align: center;
      padding: 3px;
  }

  tr:nth-child(even){background-color: #f2f2f2}

  th {
      background-color: #4CAF50;
      color: white;
  }
</style>
<table>
  <tr>
    <th>Bid#</th>
    <th>Last Name</th>
    <th>First Name</th>
    <th>Empl.#</th>
    <th>Occ. Seniority</th>
    <th>Bid Time</th>
    <th>Qual.</th>
    <th>Shift#</th>
  </tr>
  <% @employee.sort_by_seniority.each do |employee| %>
    <tr>
      <% if employee.employment_status == "PT" %>
        <td><%= employee.bid_number %></td>
        <td><%= employee.last_name %></td>
        <td><%= employee.first_name %></td>
        <td><%= employee.employee_number %></td>
        <td><%= employee.seniority.strftime("%m-%d-%Y") %></td>
        <td><%#= employee.bid_time.strftime("%b %d %H:%M") %></td>
        <% if employee.qualification || "select" %>
          <td><%= employee.qualification %></td>
        <% end %>
        <td><%= employee.shift %></td>
      <% end %>
    </tr>
  <% end %>
</table>
