<h3><u><i><%= link_to "Bid Sheets", shifts_path %></i></u> > <b>Crew-Chief: Full Bid / All Shifts </b></h3>
<div class="row">
  <h4>
  <div class="col-md-4">
      <b>Full Bid Sheet</b> | <u><i><%= link_to "Watchlist", shifts_cc_watched_path %></i></u>
  </div>
  <div class="col-md-4">
    <div class="center"
      <b>Unsorted</b> | <u><i><%= link_to "Sorted", shifts_cc_open_path %></i></u>
    </div>
  </div>
  <div class="col-md-4">
    <div class="right"
    <b>All Shifts</b> | <u><i><%= link_to "Open Shifts Only", shifts_cc_open_path %></i></u>
    </div>
  </div>
  </h4>
</div>
<br>

<style>
  .center {
    text-align: center;
  }
  .right {
    text-align: right;
  }

  table {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
  }
  th {
    background-color: #4CAF50;
    color: white;
    padding: 3px;
    text-align: center;
  }
  td {
    padding: 3px;
    text-align: center;
  }
  tbody {
    overflow-y: scroll;
    height: 200px;
    width: 100%;
    position: absolute;
  }
  tr:nth-child(even){background-color: #f2f2f2}
</style>

<table>
  <thead>
    <tr>
      <th scope="col">Watch</th>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Area</th>
      <th scope="col">Off</th>
      <th scope="col">Hrs</th>
      <th scope="col">Wkly</th>
      <th scope="col">Sunday</th>
      <th scope="col">Monday</th>
      <th scope="col">Tuesday</th>
      <th scope="col">Wednesday</th>
      <th scope="col">Thursday</th>
      <th scope="col">Friday</th>
      <th scope="col">Saturday</th>
    </tr>
  </thead>

  <tbody>
    <% @shifts.each do |shift| %>
      <% if shift.employment_status == "CC" %>
        <tr>
          <% if shift.watched == true %>
            <td><div class="glyphicon glyphicon-check"></div></td>
          <% else %>
            <td><div class="glyphicon glyphicon-unchecked"></div></td>
          <% end %>
          <td><%= shift.shift_number %></td>
          <% if Seniority.find_by(shift: shift.shift_number) != nil %>
            <td><%= Seniority.find_by(shift: shift.shift_number).first_name + " " + Seniority.find_by(shift: shift.shift_number).last_name %></td>
          <% else %>
            <td></td>
          <% end %>
          <td><%= shift.detail_location %></td>
          <td><%= shift.days_off %></td>
          <td><%= shift.day_hours %></td>
          <td><%= shift.total_hours %></td>
          <% unless shift.days_off.include? "S" %>
            <td>
              <%= shift.sun_start_time.strftime("%H:%M") %>-<%= shift.sun_quit_time.strftime("%H:%M") %>
              <b><%= shift.sun_location %></b>
            </td>
          <% else %>
            <td>off</td>
          <% end %>
          <% unless shift.days_off.include? "M" %>
            <td>
              <%= shift.mon_start_time.strftime("%H:%M") %>-<%= shift.mon_quit_time.strftime("%H:%M") %>
              <h style="color:rgb(255,0,0)"><%= shift.mon_location %>
            </td>
          <% else %>
            <td>off</td>
          <% end %>
          <% unless shift.days_off.include? "T" %>
            <td>
              <%= shift.tue_start_time.strftime("%H:%M") %>-<%= shift.tue_quit_time.strftime("%H:%M") %>
              <b><%= shift.tue_location %></b>
            </td>
          <% else %>
            <td>off</td>
          <% end %>
          <% unless shift.days_off.include? "W" %>
            <td>
              <%= shift.wed_start_time.strftime("%H:%M") %>-<%= shift.wed_quit_time.strftime("%H:%M") %>
              <b><%= shift.wed_location %></b>
            </td>
          <% else %>
            <td>off</td>
          <% end %>
          <% unless shift.days_off.include? "Q" %>
            <td>
              <%= shift.thu_start_time.strftime("%H:%M") %>-<%= shift.thu_quit_time.strftime("%H:%M") %>
              <b><%= shift.thu_location %></b>
            </td>
          <% else %>
            <td>off</td>
          <% end %>
          <% unless shift.days_off.include? "F" %>
            <td>
              <%= shift.fri_start_time.strftime("%H:%M") %>-<%= shift.fri_quit_time.strftime("%H:%M") %>
              <b><%= shift.fri_location %></b>
            </td>
          <% else %>
            <td>off</td>
          <% end %>
          <% unless shift.days_off.include? "J" %>
            <td>
              <%= shift.sat_start_time.strftime("%H:%M") %>-<%= shift.sat_quit_time.strftime("%H:%M") %>
              <b><%= shift.sat_location %></b>
            </td>
          <% else %>
            <td>off</td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
