<%# Update the top portion of this view to reflect the settings for the view attributes %>
<div class="row">
  <p>
  <div class="col-md-5">
    <h4><u><i><%= link_to "Bid Sheets", shifts_path %></i></u> > <b>Crew-Chief: Full Bid / All Shifts </b></h4>
  </div>
  <div class="col-md-2">
    <div class="center">
      <%= link_to "Bid Times", users_cc_path, class: 'btn btn-success' %>
    </div>
  </div>
</div>
<div class="row">
  <h5>
    <div class="col-md-4">
        <u><i><%= link_to "Watchlist Only", shifts_cc_watched_path %></i></u>
    </div>
    <div class="col-md-4">
      <div class="center">
        <u><i><%= link_to "Sort by Preferences", shifts_cc_open_path %></i></u>
      </div>
    </div>
    <div class="col-md-4">
      <div class="right">
        <u><i><%= link_to "Open Shifts Only", shifts_cc_open_path %></i></u>
      </div>
    </div>
  </h5>
</div>
<br>

<style>
  .center {
    text-align: center;
  }
  .right {
    text-align: right;
  }
  tr:nth-child(even){background-color: #f2f2f2}*/
* { padding: 0; margin: 0; }
  table.shifts {
    font-family: verdana;
    font-size: 12px;
    border-collapse: collapse;
    width: 100%;
    }
  table.shifts th, table.shifts td {
    border-left: 1px solid #999;
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
    padding: 2px;
    height: 30px;
    }
  table.shifts th {
    background-color: #4CAF50;
    color: white;
  }
  div.scrollableContainer {
    position: relative;
    width: 100%;
    border: 1px solid black;
    padding-top: 2.2em;
    }
  div.scrollingArea {
    height: 450px;
    overflow: auto;
    }
  table.scrollable thead tr {
    left: 0; top: 0;
    position: absolute;
    }
  /*table.shifts .watch { width: 40px; text-align:center; }*/
  table.shifts .num    { width: 25px; text-align:center; }
  table.shifts .name     { width: 107px; text-align:center; }
  table.shifts .area  { width: 40px; text-align:center; }
  table.shifts .off   { width: 35px; text-align:center; }
  table.shifts .hours   { width: 20px; text-align:center; }
  table.shifts .weekly   { width: 30px; text-align:center; }
  table.shifts .sun   { width: 110px; text-align:center; }
  table.shifts .mon   { width: 110px; text-align:center; }
  table.shifts .tue   { width: 110px; text-align:center; }
  table.shifts .wed   { width: 110px; text-align:center; }
  table.shifts .thu   { width: 110px; text-align:center; }
  table.shifts .fri   { width: 110px; text-align:center; }
  table.shifts .sat   { width: 110px; text-align:center; }
</style>

<div class="scrollableContainer">
  <div class="scrollingArea">
    <table class="shifts scrollable">
      <thead>
        <tr>
          <!-- <th><div class="watch">Watch</div></th> -->
          <th><div class="num">#</div></th>
          <th><div class="name">Name</div></th>
          <th><div class="area">Area</div></th>
          <th><div class="off">Off</div></th>
          <th><div class="hours">Hrs</div></th>
          <th><div class="weekly">Wk</div></th>
          <th><div class="sun">Sunday</div></th>
          <th><div class="mon">Monday</div></th>
          <th><div class="tue">Tuesday</div></th>
          <th><div class="wed">Wednesday</div></th>
          <th><div class="thu">Thursday</div></th>
          <th><div class="fri">Friday</div></th>
          <th><div class="sat">Saturday</div></th>
        </tr>
      </thead>
      <tbody>
        <div id="weeklyShifts">
          <% @shifts.sort_by_id.each do |shift| %>
            <%= render partial: 'shifts/form', locals: { shift: shift } %>
          <% end %>
        </div>
      </tbody>
    </table>
  </div>
</div>
