<h3><u><i><%= link_to "Bid Sheets", shifts_path %></i></u> > <b>Crew-Chief: Full Bid Sheet / Open Shifts Only </b> <%= link_to "Watchlist", shifts_cc_watched_path, class: 'btn btn-success' %></h3>
<div class="right"><h4><u><i><%= link_to "All Shifts", shifts_cc_path %></i></u> | <b>Open Shifts Only </b></h4></div>
<br>
<style>
.right {
  text-align: right;
}
  table {
      border-collapse: collapse;
      width: 100%;
  }

  th, td {
      text-align: center;
      padding: 3px;
  }

  tr:nth-child(even){background-color: #f2f2f2}

  th {
      background-color: #4CAF50;
      color: white;
  }
</style>
<table>
  <tr>
    <th>Watch</th>
    <th>#</th>
    <th>Name</th>
    <th>Area</th>
    <th>Off</th>
    <th>Hrs</th>
    <th>Wkly</th>
    <th>Sunday</th>
    <th>Monday</th>
    <th>Tuesday</th>
    <th>Wednesday</th>
    <th>Thursday</th>
    <th>Friday</th>
    <th>Saturday</th>
  </tr>
  <% @shifts.each do |shift| %>
    <% if shift.employment_status == "CC" && Seniority.find_by(shift: shift.shift_number) == nil%>
      <tr>
        <% if shift.watched == true %>
          <td><div class="glyphicon glyphicon-check"></div></td>
        <% else %>
          <td><div class="glyphicon glyphicon-unchecked"></div></td>
        <% end %>
        <td><%= shift.shift_number %></td>
        <% if Seniority.find_by(shift: shift.shift_number) != nil %>
          <td><%= Seniority.find_by(shift: shift.shift_number).first_name + " " + Seniority.find_by(shift: shift.shift_number).last_name %></td>
        <% else %>
          <td></td>
        <% end %>
        <td><%= shift.detail_location %></td>
        <td><%= shift.days_off %></td>
        <td><%= shift.day_hours %></td>
        <td><%= shift.total_hours %></td>
        <% unless shift.days_off.include? "S" %>
          <td>
            <%= shift.sun_start_time.strftime("%H:%M") %>-<%= shift.sun_quit_time.strftime("%H:%M") %>
            <b><%= shift.sun_location %></b>
          </td>
        <% else %>
          <td>off</td>
        <% end %>
        <% unless shift.days_off.include? "M" %>
          <td>
            <%= shift.mon_start_time.strftime("%H:%M") %>-<%= shift.mon_quit_time.strftime("%H:%M") %>
            <h style="color:rgb(255,0,0)"><%= shift.mon_location %>
          </td>
        <% else %>
          <td>off</td>
        <% end %>
        <% unless shift.days_off.include? "T" %>
          <td>
            <%= shift.tue_start_time.strftime("%H:%M") %>-<%= shift.tue_quit_time.strftime("%H:%M") %>
            <b><%= shift.tue_location %></b>
          </td>
        <% else %>
          <td>off</td>
        <% end %>
        <% unless shift.days_off.include? "W" %>
          <td>
            <%= shift.wed_start_time.strftime("%H:%M") %>-<%= shift.wed_quit_time.strftime("%H:%M") %>
            <b><%= shift.wed_location %></b>
          </td>
        <% else %>
          <td>off</td>
        <% end %>
        <% unless shift.days_off.include? "Q" %>
          <td>
            <%= shift.thu_start_time.strftime("%H:%M") %>-<%= shift.thu_quit_time.strftime("%H:%M") %>
            <b><%= shift.thu_location %></b>
          </td>
        <% else %>
          <td>off</td>
        <% end %>
        <% unless shift.days_off.include? "F" %>
          <td>
            <%= shift.fri_start_time.strftime("%H:%M") %>-<%= shift.fri_quit_time.strftime("%H:%M") %>
            <b><%= shift.fri_location %></b>
          </td>
        <% else %>
          <td>off</td>
        <% end %>
        <% unless shift.days_off.include? "J" %>
          <td>
            <%= shift.sat_start_time.strftime("%H:%M") %>-<%= shift.sat_quit_time.strftime("%H:%M") %>
            <b><%= shift.sat_location %></b>
          </td>
        <% else %>
          <td>off</td>
        <% end %>

      </tr>
    <% end %>
  <% end %>
</table>
