<h3><u><i><%= link_to "Bid Sheets", shifts_path %></i></u> > <b>Crew-Chief: Full Bid Sheet / Open Shifts Only </b> <%= link_to "Watchlist", shifts_cc_watched_path, class: 'btn btn-success' %></h3>
<h4><u><i><%= link_to "All Shifts", shifts_cc_path %></i></u> | <b>Open Shifts Only </b></h4>
<br>
<style>
  table {
      border-collapse: collapse;
      width: 100%;
  }

  th, td {
      text-align: center;
      padding: 3px;
  }

  tr:nth-child(even){background-color: #f2f2f2}

  th {
      background-color: #4CAF50;
      color: white;
  }
</style>
<table>
  <tr>
    <th>Watch</th>
    <th>Shift#</th>
    <th>Bidder</th>
    <th>Off</th>
    <th>Hours</th>
    <th>Weekly</th>
    <th>Sunday</th>
    <th>Monday</th>
    <th>Tuesday</th>
    <th>Wednesday</th>
    <th>Thursday</th>
    <th>Friday</th>
    <th>Saturday</th>
  </tr>
  <% @shifts.each do |shift| %>
    <% if shift.employment_status == "CC" && shift.last_name == nil %>
      <tr>
        <% if shift.watched == true %>
          <td>Yes</td>
        <% else %>
          <td>No</td>
        <% end %>
        <td><%= shift.shift_number %></td>
        <% if shift.last_name || nil %>
          <td><%= shift.last_name %></td>
        <% else %>
          <td></td>
        <% end %>
        <td><%= shift.days_off %></td>
        <td><%= shift.day_hours %></td>
        <td><%= shift.total_hours %></td>

        <% unless shift.days_off == "JS" || shift.days_off == "SM" || shift.days_off == "SMT" || shift.days_off == "FJS" || shift.days_off == "JSM" %>
          <td>
            <%= shift.sun_start_time.strftime("%H:%M") %>-<%= shift.sun_quit_time.strftime("%H:%M") %>
            <%= shift.sun_location %>
          </td>
        <% else %>
          <td><center>Off</center></td>
        <% end %>
        <% unless shift.days_off == "SM" || shift.days_off == "MT" || shift.days_off == "SMT" || shift.days_off == "MTW" || shift.days_off == "JSM" %>
          <td>
            <%= shift.mon_start_time.strftime("%H:%M") %>-<%= shift.mon_quit_time.strftime("%H:%M") %>
            <%= shift.mon_location %>
          </td>
        <% else %>
          <td><center>Off</center></td>
        <% end %>
        <% unless shift.days_off == "MT" || shift.days_off == "TW" || shift.days_off == "SMT" || shift.days_off == "MTW" || shift.days_off == "TWQ" %>
          <td>
            <%= shift.tue_start_time.strftime("%H:%M") %>-<%= shift.tue_quit_time.strftime("%H:%M") %>
            <%= shift.tue_location %>
          </td>
        <% else %>
          <td><center>Off</center></td>
        <% end %>
        <% unless shift.days_off == "TW" || shift.days_off == "WQ" || shift.days_off == "WQF" || shift.days_off == "TWQ" || shift.days_off == "MTW" %>
          <td>
            <%= shift.wed_start_time.strftime("%H:%M") %>-<%= shift.wed_quit_time.strftime("%H:%M") %>
            <%= shift.wed_location %>
          </td>
        <% else %>
          <td><center>Off</center></td>
        <% end %>
        <% unless shift.days_off == "WQ" || shift.days_off == "QF" || shift.days_off == "QFJ" || shift.days_off == "WQF" || shift.days_off == "TWQ" %>
          <td>
            <%= shift.thu_start_time.strftime("%H:%M") %>-<%= shift.thu_quit_time.strftime("%H:%M") %>
            <%= shift.thu_location %>
          </td>
        <% else %>
          <td><center>Off</center></td>
        <% end %>
        <% unless shift.days_off == "QF" || shift.days_off == "FJ" || shift.days_off == "FJS" || shift.days_off == "QFJ" || shift.days_off == "WQF" %>
          <td>
            <%= shift.fri_start_time.strftime("%H:%M") %>-<%= shift.fri_quit_time.strftime("%H:%M") %>
            <%= shift.fri_location %>
          </td>
        <% else %>
          <td><center>Off</center></td>
        <% end %>
        <% unless shift.days_off == "FJ" || shift.days_off == "JS" || shift.days_off == "JSM" || shift.days_off == "FJS" || shift.days_off == "QFJ" %>
          <td>
            <%= shift.sat_start_time.strftime("%H:%M") %>-<%= shift.sat_quit_time.strftime("%H:%M") %>
            <%= shift.sat_location %>
          </td>
        <% else %>
          <td><center>Off</center></td>
        <% end %>

      </tr>
    <% end %>
  <% end %>
</table>
