<h3><u><i><%= link_to "Bid Sheets", shifts_path %></i></u> > <b>Crew-Chief </b><%= link_to "Add Shift", new_shift_path, class: 'btn btn-success' %> <%= link_to "Full Bid Sheet", shifts_cc_path, class: 'btn btn-danger' %></h3>
<h4><b>All Watched Shifts</b> | <u><i><%= link_to "Open Watched Shifts Only", shifts_cc_watched_open_path %></i></u></h4>
<br>
<style>
  table {
      border-collapse: collapse;
      width: 100%;
  }

  th, td {
      text-align: center;
      padding: 3px;
  }

  tr:nth-child(even){background-color: #f2f2f2}

  th {
      background-color: #4CAF50;
      color: white;
  }
</style>
<table>
  <tr>
    <th>Watch</th>
    <th>Shift#</th>
    <th>Bidder</th>
    <th>Sunday</th>
    <th>Monday</th>
    <th>Tuesday</th>
    <th>Wednesday</th>
    <th>Thursday</th>
    <th>Friday</th>
    <th>Saturday</th>
  </tr>
  <% @shifts.each do |shift| %>
    <% if shift.employment_status == "CC" && shift.watched == true && shift.last_name == nil %>
      <tr>
        <% if shift.watched == true %>
          <td>checked</td>
        <% else %>
          <td>unchecked</td>
        <% end %>
        <td><%= shift.shift_number %></td>
        <% if shift.last_name || nil %>
          <td><%= shift.last_name %></td>
        <% else %>
          <td></td>
        <% end %>
        <td>
          <%= shift.sun_start_time.strftime("%H:%M") %>
          <%= shift.sun_quit_time.strftime("%H:%M") %>
          <%= shift.sun_location %>
        </td>
        <%# @shift = shift.shift_id %>
        <td><%#= Sunday.shift.quit_time %></td>
        <td><%#= Sunday.shift.start_time %></td>
        <td><%#= employee.seniority.strftime("%m-%d-%Y") %></td>
        <td><%#= employee.bid_time.strftime("%b %d %H:%M") %></td>
      </tr>
    <% end %>
  <% end %>
</table>
