<!DOCTYPE html>
<html>
<head>
  <title>Bid-It.online</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <ul class="nav nav-tabs">
      <li><%= link_to "Info", welcome_index_path %></li>
      <li><%= link_to "Bid Times", seniorities_index_path %></li>
      <li><%= link_to "Bid Sheet", seniorities_index_path %></li>
      <li><%= link_to "Watch List", seniorities_index_path %></li>
    </ul>

    <%= yield %>
  </div>

</body>
</html>
